### directories
# parcel cache folder
.cache
# build folder
build
# test coverage
coverage
# parcel dist folder
dist
# installed modules
node_modules

### files
# none at this time

### file include overrides
# root configuration files (e.g. .eslintrc.js)
!.*.js
