### directories
# parcel cache folder
.parcel-cache
# dist folder
dist
# test coverage
coverage
# parcel dist folder
example_dist
# installed modules
node_modules

### individual files
.eslintcache
npm-debug.log


